:root {
  --main-bg-color: #34495e;
}

#chat_tools {
	height: 600px;
    /*border: 1px solid rgb(172, 172, 172);*/
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px;
    padding-left: 0px;
    padding-right: 0px;
}

#tools_menu {
	height: 100px;
    background-color: var(--main-bg-color);
}

#tools_info {
	background-color: #ecf0f1;
    height: 500px;
}

#contact_list .panel-heading {
    color: #fff;
    background-color: #043D5D;
}

body {
	background-image: url("../images/sunset.jpeg");
	background-size: 1366px 768px;
}

.panel {
	border: 0px;
}

.boxdiv {
	border-radius: 4px;
	overflow: hidden;
}

.tool_icon{
	height: 90px;
	width: 90px;
	margin-top: 5px;
    margin-left: 32px;
    cursor: pointer;
    cursor: hand;
}

.info_box {
	height: 500px;
	padding: 10px;
    vertical-align: middle;
    text-align: justify;
}
.info_half {
	height: 225px;
}

#news_wiki, #news_bing, #translate_in, #translate_out {
	overflow-y:auto;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#222;
  height: 1px;
  opacity: 0.1;
}

#fillgauge {
	margin-left: 25px;
}

#smiley {
	width: 38%;
    float: right;
    margin-top: 25px;
    margin-right: 27px;
}

#senti_label {
	color: rgb(52, 73, 94);
	text-align: center;
	font-size: 24px;
}


/* For Donut */
path.slice{
	stroke-width:2px;
}
polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
} 
svg text.percent{
	fill:white;
	text-anchor:middle;
	font-size:12px;
}

#donut {
	margin-left: 40px;
    margin-top: -62px;
}